<section class="user-container d-flex">
  <div class="user-img">
    <%= image_tag("user/user_logo.png", width:'100%', height:'100%') %>
  </div>
  <div class="user-data d-flex">
    <h2><%= @user.name %></h2>
    <p>Number of posts: <%= @user.posts_counter %></p>
  </div>
</section>

<% @posts.each do |post| %>
<section class="comments-section">
  <div class="posts-container">
    <div class="posts-details d-flex">
      <h2 class="posts-id"><a href="/users/<%= @user.id %>/posts/<%=post.id%>"><%= post.title %></a></h2>
      <p class="posts-body"><%= post.text %></p>
      <p class="posts-counters">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
    <% unless post.recent_comments.empty? %>
    <div class="posts-comments d-flex">
    <% post.recent_comments.each do |comment| %>
      <p class="users-comment">
       <a href = <%=user_path(comment.user.id)%>><%= comment.user.name %></a>: <%= comment.text %>
      </p>
    <% end %>
    </div>
    <% end %>
    </div>
  </div>
</section>
<%end%>

<%if @user.posts_counter > 5%>
<button style="display:none;">pagination</button>
<%end%>