<section class="posts-section">
  <div class="post-header d-flex">
    <h2 class="post-title"><%= @post.title %></h2>
    <p class="post-data-counter">
      Comments: <%= @post.comments_counter %>, Likes:<%= @post.likes_counter %>
    </p>
  </div>
  <p class="post-data-counter">
    <%= @post.text %>
  </p>
</section>


<section class="posts-section-comments d-flex">
<% unless @post.comments.empty? %>
<% @post.comments.each do |comment| %>
      <p class="users-comment">
      <a href = <%=user_path(comment.user.id)%>><%= comment.user.name %></a>: <%= comment.text %>
      </p>
    <% end %>
    <% end %>
    <%= render partial: "create_comment", local: @post %>
    </section>
    

