<section class="posts-section">
  <div class="post-header d-flex">
    <h2 class="post-title"><%= @post.title %> by <%= @user.name %></h2>
    <div class="post-data-counter d-flex">
    <button class="post-stat-btns unclickble">Comments: <%= @post.comments_counter %></button>
    <button class="post-stat-btns unclickble">Likes: <%= @post.likes_counter %></button>
    <%= render partial: "create_like", local: @post %>
    </div>
  </div>
  <div class="detroy-text-container d-flex">
  <p class="post-data-counter">
    <%= @post.text %>
  </p>
  <%= render partial: "delete_post", local: @post %>
  </div>
</section>


<section class="posts-section-comments d-flex">
<% unless @post.comments.empty? %>
<% @post.comments.each do |comment| %>
      <p class="users-comment">
      <a href = <%=user_path(comment.user.id)%>><%= comment.user.name %></a>: <%= comment.text %>
      </p>
      <% if can? :destroy, comment %>
        <%=button_to 'delete', post_comment_path(post_id: @post.id ,id: comment.id), :method => :delete%> 
      <% end %>
<% end %>
<% end %>
<%= render partial: "create_comment", local: { post: @post, like: @like } %>
</section>
    

